
.a
  .b
    .login-register
      %ul
        - if current_user
          %li= current_user.username
          %li= button_to 'Sign Out', destroy_user_session_path, :method => :delete
        - else
          %li= link_to 'Sign in', new_user_session_path
          -# %li= link_to 'Sign up', new_user_registration_path
